<mat-drawer-container class="example-container" autosize>
  <mat-selection-list [multiple]="false">
    <mat-list-option routerLink="dashboard" routerLinkActive>
      Home
    </mat-list-option>

    <mat-divider></mat-divider>
    <mat-list-option routerLink="about" routerLinkActive>
      About
    </mat-list-option>

    <mat-divider></mat-divider>
    <mat-list-option routerLink="contact" routerLinkActive>
      Contact
    </mat-list-option>
  </mat-selection-list>
</mat-drawer-container>
